@import url("https://use.typekit.net/trn4prx.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* rotating text - button */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.rotate-animation {
  animation: rotate 7s linear infinite;
}

/* button */

@layer base {
  body {
    @apply font-secondary text-lg bg-gray-800;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  /* custom */
  .custom-button {
    @apply text-sm text-coffee;
    background-color: #f7b22c;
    border-radius: 50px;
    padding: 10px 25px;
    transition: background-color 0.3s ease;
  }

  .custom-button:hover {
    @apply bg-stone-400 text-white;
  }

}