@import url("https://use.typekit.net/trn4prx.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px 48px; 
  color: #fff; 
  background-color: #603E25; 
  border-radius: 8px; 
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #C09E79; 
  }
}


@layer base {
  body {
    @apply font-primary text-lg bg-ivory;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-eerie; 
  }
  p {
    @apply text-black;
  }
}